<div class="comment-info" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
  <div fxFlex="0 0 20px">
    <img class="user-image w-100" [src]="comment._embedded.createdBy.picture  || 'assets/icons/user.png'"
         [alt]="comment._embedded.createdBy.username">
  </div>
  <div fxFlex="0 0 auto" class="user">{{comment._embedded.createdBy.username}}</div>
  <div fxFlex="0 0 auto"><span class="separator">•</span></div>
  <div fxFlex="0 0 auto" class="date">{{comment.createdAt | timeAgo}}</div>
  <div *ngIf="comment.updatedAt && comment.createdAt != comment.updatedAt" fxFlex="0 0 auto" class="date">
    (edited {{comment.updatedAt | timeAgo}})
  </div>
  <div fxFlex="1 1 auto"></div>
</div>

<ng-container *ngIf="!startEditing; then show else edit"></ng-container>
<ng-template #show>
  <quill-view *ngIf="!startEditing" class="comment-content" format="json" [content]="comment.content"></quill-view>
  <div class="actions">
    <a *ngIf="authorization.canView(comment)" class="mr-10" (click)="toggleReplyEditor()">
      <i class="icon">mode_comment</i>
      Reply
    </a>
    <a class="mr-10">
      Share
    </a>
    <a *ngIf="authorization.canEdit(comment)" class="mr-10" (click)="toggleEditEditor()">
      Edit
    </a>
    <a *ngIf="authorization.canDelete(comment) && (!comment?.replies || !comment?.replies?.length)" (click)="onDelete(comment)">
      Delete
    </a>
  </div>
  <div *ngIf="showEditor" class="reply-editor-container">
    <app-reply-editor (save)="onSave($event)" (cancel)="onCancel($event)"></app-reply-editor>
  </div>
</ng-template>
<ng-template #edit>
  <app-reply-editor class="comment-edit-editor"
                    buttonText="Save"
                    format="json"
                    [content]="comment.content"
                    (cancel)="onEditCancel($event)"
                    (save)="onEditSave($event)"
  ></app-reply-editor>
</ng-template>
<div *ngIf="comment?.replies && comment.replies.length" class="comment-replies">
  <app-comment *ngFor="let reply of comment.replies" [comment]="reply" [post]="post" [depth]="depth + 1"
               (reply)="onReply($event)" (delete)="deleteReply(reply)"></app-comment>
</div>
