<app-preloader [timeout]="1000"></app-preloader>

<header class="header">
  <mat-toolbar color="dark" class="toolbar">
    <mat-toolbar-row class="toolbar-row">
      <img class="logo" src="assets/icons/logo.svg" alt="Logo">
      <span class="branding" *ngIf="isMobile()">Dev News</span>
      <span class="divider" *ngIf="isMobile()">|</span>
      <app-search class="search-container"></app-search>
      <a class="mr-10" mat-button routerLink="/login" *ngIf="isMobile()">LOG IN</a>
      <a mat-button routerLink="/sign-up" *ngIf="isMobile()">SIGN UP</a>
      <!-- menu -->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="!isMobile()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Log In</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Sign In</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="main-container">
  <router-outlet></router-outlet>
</main>
