@import '../theme.scss';

.logo {
  height: 60%;
}

.branding {
  margin-left: 30px;
}

.search-container {
  flex: 1 1 auto;
  margin-left: 30px;
  margin-right: 30px;
}

.divider {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.main-container {
  width: 100%;
  margin: 20px auto auto;
  max-width: 1200px;
}
