@import '../theme.scss';

.header {
  min-height: 50px;
}

.toolbar {
  position: fixed;
  z-index: 5;
}

.toolbar-row {
  max-width: 1008px;
  margin: auto;
}

.logo {
  height: 60%;
}

.branding {
  margin-left: 30px;
}

.search-container {
  flex: 1 1 auto;
  margin-left: 30px;
  margin-right: 30px;
}

.divider {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.main-container {
  padding: 24px;
}

.toolbar {
  min-height: 50px !important;
}

.toolbar mat-toolbar-row {
  height: 50px !important;
}

@media only screen and (max-width: 639px) {
  .main-container {
    padding: 0 !important;
  }
}
