:host {
  display: block;
}

.image {
  display: block;
  border-radius: 50px;
}

.numbers-container {
  padding-top: 5px;
}

.numbers {
  font-size: 15px;
  font-weight: 500;
}

.numbers-description {
  font-size: 13px;
}

.more-button-container {
  position: relative;
}

.more-button {
  position: absolute;
  top: -13px;
  right: -13px;
}
