.left-icon {
  top: 6px;
  left: 15px;
  position: absolute;
}

.left-image {
  width: 24px;
  height: 24px;
  top: 6px;
  left: 15px;
  position: absolute;
  border-radius: 50px;
}

.navigation-button {
  width: 250px;
  text-align: left;
  position: relative;
}

.navigation-text {
  padding-left: 40px;
}

.navigation-item-text {
  padding-top: 4px !important;
}

.right-icon {
  top: 6px;
  right: 15px;
  position: absolute;
}

.filter-container {
  padding: 7px 15px 0 15px;
}

.filter {
  border: none;
  padding: 10px;
  outline: none;
  color: inherit;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

.navigation-item {
  text-decoration: none;
  height: 40px !important;
}

@media only screen and (max-width: 720px) {
  .navigation-button {
    width: 95px !important;
  }

  .navigation-text {
    visibility: collapse !important;
  }
}
