<div *ngIf="posts" class="main" fxLayout="row" fxLayoutGap="24px">
  <div class="main-left" fxFlex>
    <ng-container *ngIf="posts.length then showPosts else showNoPosts"></ng-container>
    <ng-template #showPosts>
      <app-infinite-scroller (end)="onScrollEnd($event)">
        <app-post class="mb-10" *ngFor="let post of posts" [post]="post"></app-post>
      </app-infinite-scroller>
    </ng-template>
    <ng-template #showNoPosts>
      <app-no-posts>
        <p>Be the first to share your news!</p>
      </app-no-posts>
    </ng-template>
  </div>
  <div class="main-right" fxFlex fxHide.lt-md>
    <app-up-and-coming-communities *ngIf="upAndComingCommunities.length" class="mb-10" [communities]="upAndComingCommunities"></app-up-and-coming-communities>
    <app-overview class="mb-10" title="Popular">
      The best posts for you, pulled from the most active communities. Check here to see the most shared, upvoted, and
      commented content on the internet.
    </app-overview>
    <app-trending-communities *ngIf="trendingCommunities.length" class="mb-10" [communities]="trendingCommunities"></app-trending-communities>
    <app-dev-news class="mb-10"></app-dev-news>
    <app-back-to-top></app-back-to-top>
  </div>
</div>
