<div class="main" fxLayout="row" fxLayoutGap="24px">
  <div class="main-left" fxFlex>
    <app-post class="mb-10" *ngFor="let post of posts" [post]="post"></app-post>
  </div>
  <div class="main-right" fxFlex fxHide.lt-md>
    <div>
      <div>
        <app-overview title="Popular">
          The best posts for you, pulled from the most active communities. Check here to see the most shared, upvoted, and commented content on the internet.
        </app-overview>
      </div>
    </div>
  </div>
</div>
