:host {
  display: flex;
  flex-flow: column-reverse;
}

.action-button-container {
  float: right;
  margin-right: 0 !important;
}

.reply-button, .cancel-button {
  line-height: 30px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.cancel-button {
  margin-right: 10px;
}

.reply-button {
  background-color: #a23737;
  margin-right: -3px;
}
