<div class="sign-up-container">
  <mat-form-field appearance="outline">
    <mat-label>Write your first name</mat-label>
    <input type="text" matInput placeholder="First name" [formControl]="firstName" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Write your last name</mat-label>
    <input type="text" matInput placeholder="Last name" [formControl]="lastName" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Username" [formControl]="username" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="email" matInput placeholder="Email" [formControl]="email" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="password" matInput placeholder="Password" [formControl]="password" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="password" matInput placeholder="Confirm password" [formControl]="confirmPassword" required>
  </mat-form-field>
  <mat-action-row>
    <button class="mr-10" mat-button mat-raised-button>Sign up</button>
    <button mat-button mat-raised-button>Log In</button>
  </mat-action-row>
</div>
