<div class="sign-up-container">

  <mat-form-field appearance="fill" color="accent">
    <mat-label>First name</mat-label>
    <input type="text" matInput placeholder="" [formControl]="firstName" required>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Last name</mat-label>
    <input type="text" matInput placeholder="" [formControl]="lastName" required>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Username</mat-label>
    <input type="email" matInput placeholder="" [formControl]="username" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="" [formControl]="email" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="" [formControl]="password" required>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput placeholder="" [formControl]="confirmPassword" required>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

</div>
