.avatar {
  width: 36px;
  height: auto;
  border-radius: 50px;
}

.user-info-container {
  padding: 7px 15px 0 15px;
}

.user-image {
  width: 100%;
  border-radius: 50px;
}

.name {
  padding-top: 2px;
  font-weight: 700;
}

.email {
  font-size: 13px;
}

.menu-item {
  height: 40px !important;
}
