.sign-up-container {
  margin: auto;
  max-width: 380px;
  overflow: hidden;
}

@media only screen and (max-width: 639px) {
  .sign-up-container {
    background: none;
    box-shadow: none !important;
  }
}
