<div class="editor-container">
  <div class="editor-wrapper">
    <div class="editor">
      <div class="editor-placeholder" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="0 1 auto" class="avatar-container">
          <div class="avatar"></div>
        </div>
        <div fxFlex="1 1 100%">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input type="text" [(ngModel)]="title" class="post-title"
                 placeholder="Title for your post...">
        </div>
      </div>

      <div contenteditable="true" class="post-title">Select community</div>

      <!--suppress AngularUndefinedBinding, HtmlUnknownAttribute -->
      <app-text-editor (onContentChanged)="onContentChanged($event)"
                       placeholder="Write your post here..."></app-text-editor>
    </div>

    <div>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-raised-button class="cancel-button" (click)="onDiscard()">
          Cancel
        </button>
        <button mat-raised-button class="post-button" [disabled]="!title" (click)="onSave()">
          Post
        </button>
      </div>
    </div>
  </div>
</div>
