<div class="editor-container">
  <div class="editor-wrapper">
    <div class="editor">
      <div class="mb-10" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div fxFlex="0 1 auto" class="avatar-container">
          <ng-container *ngIf="authentication | async as authentication">
            <img class="avatar" [src]="authentication.principal.picture || 'assets/icons/user.png'" [alt]="authentication.principal.username">
          </ng-container>
        </div>
        <div fxFlex="1 1 100%">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input type="text" [(ngModel)]="title" class="post-title" placeholder="Title for your post...">
        </div>
      </div>

      <div class="choose-community-container" matAutocompleteOrigin #origin="matAutocompleteOrigin">
        <mat-icon class="community-select-icon" *ngIf="!selected">search</mat-icon>
        <img class="community-select-image" *ngIf="selected" [src]="selected.logo" [alt]="selected.title">
        <input [formControl]="autocomplete" class="community-select-title" placeholder="Choose a community" aria-label="Community"
               [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
        <mat-icon class="community-select-icon-2">keyboard_arrow_down</mat-icon>
      </div>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCommunitySelected($event)" [displayWith]="displayCommunity">
            <mat-option *ngFor="let community of (communities | async)" [value]="community">
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div fxFlex="0 0 30px">
                  <img class="mat-option-avatar" [src]="community.logo ? community.logo : 'assets/icons/community.svg'" [alt]="community.title">
                </div>
                <div fxFlex="1 1 100%">
                  <div class="community-title">{{community.title}}</div>
                  <div class="community-members">{{community.membersCount}} members</div>
                </div>
              </div>
            </mat-option>
      </mat-autocomplete>

      <!--suppress AngularUndefinedBinding, HtmlUnknownAttribute -->
      <app-text-editor (onContentChanged)="onContentChanged($event)"
                       placeholder="Write your post here..."></app-text-editor>
    </div>

    <div>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-raised-button class="cancel-button" (click)="onDiscard()">
          Cancel
        </button>
        <button mat-raised-button class="post-button" [disabled]="!title" (click)="onSave()">
          Post
        </button>
      </div>
    </div>
  </div>
</div>
