.row {
  justify-content: center;
}

.right div div {
  position: sticky;
  bottom: 16px;
}

.post {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 16px;
}

.no-posts {
  position: sticky;
  top: 75px;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
