<div *ngIf="posts" class="main" fxLayout="row" fxLayoutGap="24px">
  <div class="main-left" fxFlex>
    <ng-container *ngIf="posts.length then showPosts else showNoPosts"></ng-container>
    <ng-template #showPosts>
      <app-infinite-scroller (end)="onScrollEnd($event)">
        <app-post class="mb-10" *ngFor="let post of posts" [post]="post"></app-post>
      </app-infinite-scroller>
    </ng-template>
    <ng-template #showNoPosts>
      <mat-card class="no-posts">
        <mat-icon>forum</mat-icon>
        <h3>No Posts Yet</h3>
        <p>Join community to explore posts you are interested in.</p>
        <button class="mt-10" mat-raised-button color="primary" routerLink="/top-communities">Top communities</button>
      </mat-card>
    </ng-template>
  </div>
  <div class="main-right" fxFlex fxHide.lt-md>
    <app-up-and-coming-communities *ngIf="upAndComingCommunities.length" class="mb-10" [communities]="upAndComingCommunities"></app-up-and-coming-communities>
    <app-trending-communities *ngIf="trendingCommunities.length" class="mb-10"
                              [communities]="trendingCommunities"></app-trending-communities>
    <app-overview class="mb-10" title="Home">
      Your personal page. Come here to check in with your favorite communities.
    </app-overview>
    <app-trending-posts *ngIf="trendingPosts.length" class="mb-10" [posts]="trendingPosts"></app-trending-posts>
    <app-dev-news class="mb-10"></app-dev-news>
    <app-back-to-top></app-back-to-top>
  </div>
</div>
