:host {
  display: block;
}

.post-container {
  background-color: #353535;
  border-radius: 4px;
  overflow: hidden;
}

.post-votes {
  text-align: center;
  background-color: #353535;
}

.post {
  background-color: #424242;
  padding: 15px;
}
