:host {
  display: block;
}

.list-item {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.index {
  margin-left: 10px;
}

.community-title {
  margin-left: 10px;
}

.list-item {
  color: inherit;
  text-decoration: none;
}

.community-logo {
  display: block;
}

