@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: white !important;
}

.ql-snow .ql-stroke {
  stroke: white !important;
}

.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid #fff;
}

.ql-snow .ql-picker {
  color: white;
}

.ql-toolbar, .ql-container {
  border: none !important;
}

.ql-container {
  background-color: rgba(0, 0, 0, 0.30);
  font-family: inherit !important;
  font-size: inherit !important;
}

.ngx-quill-view-html {
  background-color: inherit !important;
}

.ngx-quill-view-html > .ql-editor {
  padding: 0;
  min-height: 80px;
}

.ql-toolbar {
  background-color: #353535;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.50);
  font-style: normal;
}

.ql-editor {
  min-height: 200px;
  font-size: 15px;
}

.ql-snow .ql-tooltip {
  background-color: #424242;
  border: none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: white;
  padding: 5px 12px;
  white-space: nowrap;
}

.ql-action {
  color: white !important;
}

.ql-tooltip > input {
  background-color: rgba(0, 0, 0, 0.30);
  color: #f0f0f0;
  border: none !important;
  outline: none;
}

.ql-tooltip {
  margin: 0 15px;
}

.ql-snow .ql-editor code, .ql-snow .ql-editor pre {
  background-color: rgba(0, 0, 0, 0.2);
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: rgba(0, 0, 0, 0.2);
}

.ql-video {
  width: 100%;
  height: auto;
}

.ql-editor > h1 {
  font-size: 20px;
}

.ql-editor > h2 {
  font-size: 17px;
}

.ql-editor > p {
  margin-bottom: 15px;
}

.ql-editor > ul, .ql-editor > ol {
  padding-left: 0;
}

.ql-editor > p, .ql-editor > ul, .ql-editor > ol, .ql-editor > h1, .ql-editor > h2, .ql-editor > ol > li, .ql-editor > ul > li {
  margin-bottom: 10px;
}

.ql-snow a {
  color: #48a3ff;
}

.ql-editor > *:last-child {
  margin-bottom: 0 !important;
}

app-text-editor > .ql-container > .ql-editor {
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #424242 #212121;
}

app-comment-editor > .ql-container > .ql-editor, app-reply-editor > .ql-container > .ql-editor {
  min-height: 115px !important;
}

app-comment > quill-view-html > .ql-container > .ql-editor {
  min-height: initial !important;
}

.ql-editor > h1 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.ql-editor > h2 {
  font-size: 16px !important;
  font-weight: 500 !important;
}

app-post-edit-editor > app-text-editor > .ql-container > .ql-editor {
  max-height: initial !important;
}
