@import 'app/components/editor/quill/quill-custom.component';

html, body {

}

html {
  scrollbar-color: #303030 #424242;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mat-green {
  background-color: #3a8484;
  color: #fafafa;
}

.w-100 {
  width: 100% !important;
}

.h-auto {
  height: auto !important;
}

.main {
  justify-content: center;
}

.main-left {
  max-width: 640px;
}

.main-right {
  max-width: 312px;
}

.mat-expansion-panel-body {
  padding: 0 15px 15px 15px !important;
}

.mat-tab-header {
  background-color: #2e2e2e !important;
}

.mat-tab-body-content {
  height: auto !important;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

.mat-dialog-container {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.pointer {
  cursor: pointer;
}

.decoration-none {
  text-decoration: none;
}

.avatar {
  border-radius: 50px;
}

.mat-autocomplete-panel, .mat-menu-panel {
  scrollbar-width: thin;
  scrollbar-color: #424242 #303030;
}

.mat-menu-panel {
  max-height: 500px !important;
}

.mat-list-text{
  font-size: 14px !important;
}
