html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mat-green {
  background-color: #3a8484;
  color: #fafafa;
}

.w-100 {
  width: 100% !important;
}

.mat-expansion-panel-body {
  padding: 0 15px 15px 15px !important;
}

.mat-tab-header {
  background-color: #2e2e2e !important;
}

.mat-tab-body-content {
  height: auto !important;
}

.cdk-overlay-pane {
  margin: auto !important;
}
