<div *ngIf="post" class="main" fxLayout="row" fxLayoutGap="24px">
  <div class="main-left" fxFlex>
    <div class="post-container mat-elevation-z1">
      <div class="post-wrapper">
        <div class="post">
          <div class="info" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div fxFlex="0 0 20px">
              <a class="community-link  w-100" [routerLink]="['/c/', community.alias]">
                <img class="community-logo w-100" [src]="community.logo ? community.logo : 'assets/icons/community.svg'"
                     [alt]="community.alias">
              </a>
            </div>
            <div fxFlex="0 0 auto" class="community">
              <a class="community-link" [routerLink]="['/c/', community.alias]">{{community.title}}</a>
            </div>
            <div fxFlex="0 0 auto">
              <span class="separator">•</span>
            </div>
            <div fxFlex="0 0 auto" class="user">Posted
              by {{post.createdBy.username}} {{post.createdAt | timeAgo}}</div>
            <div *ngIf="post.updatedAt && post.createdAt != post.updatedAt" fxFlex="0 0 auto" class="user">
              (edited {{post.updatedAt | timeAgo}})
            </div>
            <div fxFlex="1 1 auto"></div>
          </div>
          <div class="title">{{post.title}}</div>

          <ng-container *ngIf="!startEditing; then showPost else editPost"></ng-container>
          <ng-template #showPost>
            <div class="content">
              <quill-view format="json" [content]="post.content"></quill-view>
            </div>
            <div class="actions">
              <button mat-raised-button class="mr-10">
                <mat-icon>mode_comment</mat-icon>
                {{post.commentsCount}} Comments
              </button>
              <button mat-raised-button class="mr-10">
                <mat-icon>share</mat-icon>
                Share
              </button>
              <button *ngIf="authorizationService.canEdit(post)" mat-raised-button class="mr-10" (click)="showEditor()">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <button *ngIf="authorizationService.canDelete(post)" mat-raised-button>
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </div>
          </ng-template>
          <ng-template #editPost>
            <app-post-edit-editor
              class="post-editor"
              [content]="post.content"
              (cancel)="onPostEditCancel()"
              (save)="onPostEditSave($event)"
            ></app-post-edit-editor>
          </ng-template>
          <div *ngIf="authorizationService.canView()" class="comment-editor-container">
            <div class="comment-as">Comment as {{authorizationService.authentication.principal.username}}</div>
            <app-comment-editor (save)="onSave($event)"></app-comment-editor>
          </div>
          <div class="comments-container">
            <ng-container *ngIf="comments.length; then commentsTemplate else emptyTemplate"></ng-container>
            <ng-template #commentsTemplate>
              <app-comment *ngFor="let comment of comments" [comment]="comment" [post]="post"
                           (reply)="onReply($event)"></app-comment>
            </ng-template>
            <ng-template #emptyTemplate>
              <app-no-comments></app-no-comments>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right" fxFlex fxHide.lt-md>
    <app-community class="mb-10" *ngIf="community" [community]="community"
                   [showCreatePostButton]="false"></app-community>
    <app-trending-posts *ngIf="trending.length" class="mb-10" [posts]="trending"></app-trending-posts>
    <app-dev-news class="mb-10"></app-dev-news>
    <app-back-to-top></app-back-to-top>
  </div>
</div>
