:host {
  display: block;
}

.panel {
  padding-left: 40px;
  position: relative;
}

.panel.mat-expansion-panel.ng-tns-c12-1.mat-expanded.mat-expansion-panel-spacing div#cdk-accordion-child-0.mat-expansion-panel-content.ng-trigger.ng-trigger-bodyExpansion div.mat-expansion-panel-body {
  padding: 0 !important;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  background-color: #353535;
  padding-top: 10px;
  text-align: center;
}

.header {
  padding: 0 15px;
  border-radius: 0;
}

@media only screen and (max-width: 639px) {
  .panel {
    border-top: 1px solid #606060;
    padding-left: 0 !important;
  }

  .icon {
    display: none;
  }
}
