<div class="login-container">

  <div class="login-logo-container">
    <img class="login-logo" src="assets/icons/logo.svg" alt="Logo">
  </div>

  <hr class="w-100 h-line logo-divider">

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="" [formControl]="email" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" color="accent">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="" [formControl]="password" required>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <button class="login-form-button login-button" mat-button mat-raised-button (click)="login()">Log in</button>

  <div fxLayout="row" class="or-divider-container">
    <hr fxFlex="1 1 100%" class="w-100 h-line">
    <span fxFlex="1 0 70px" class="or-divider-text">OR</span>
    <hr fxFlex="1 1 100%" class="w-100 h-line">
  </div>

  <button class="login-form-button google-button" mat-button mat-raised-button (click)="google()">
    <mat-icon class="login-form-button-icon" svgIcon="google" aria-hidden="false" aria-label="Google"></mat-icon>
    Log in with Google
  </button>

  <button class="login-form-button github-button" mat-button mat-raised-button (click)="github()">
    <mat-icon class="login-form-button-icon" svgIcon="github" aria-hidden="false" aria-label="GitHub"></mat-icon>
    Log in with GitHub
  </button>

  <button class="login-form-button facebook-button" mat-button mat-raised-button (click)="facebook()">
    <mat-icon class="login-form-button-icon" svgIcon="facebook" aria-hidden="false" aria-label="Facebook"></mat-icon>
    Log in with Facebook
  </button>

  <div fxLayout="row" fxFlexFill>
    <div fxFlex="50" class="forgot-password-text">
      <a mat-button routerLink=".">Forgot password</a>
    </div>
    <div fxFlex="50" class="new-user-text">
      <a mat-button routerLink=".">Create account</a>
    </div>
  </div>

</div>
