<div class="login-container">

  <div class="login-logo-container">
    <img class="login-logo" src="assets/icons/logo.svg" alt="Logo">
  </div>

  <hr class="w-100 h-line logo-divider">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill" color="accent" class="w-100 email-field">
      <mat-label>Email or username</mat-label>
      <input matInput type="text" formControlName="principal">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="loginForm.get('principal').hasError('required')">
        Email or username is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('principal').hasError('minlength')">
        Email or username is invalid
      </mat-error>
      <mat-error *ngIf="loginForm.get('principal').hasError('invalidCredentials')">
        Email or username may be invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent" class="w-100 password-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
        Password must contain at least 8 characters
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('invalidCredentials')">
        Password may be invalid
      </mat-error>
    </mat-form-field>

    <button type="submit" class="login-button w-100" mat-raised-button>Log in</button>
  </form>

  <div fxLayout="row" class="or-divider-container">
    <hr fxFlex="1 1 100%" class="w-100 h-line">
    <span fxFlex="1 0 70px" class="or-divider-text">OR</span>
    <hr fxFlex="1 1 100%" class="w-100 h-line">
  </div>

  <button class="login-form-button google-button" mat-button mat-raised-button (click)="google()">
    <mat-icon class="login-form-button-icon" svgIcon="google" aria-hidden="false" aria-label="Google"></mat-icon>
    Log in with Google
  </button>

  <button class="login-form-button github-button" mat-button mat-raised-button (click)="github()">
    <mat-icon class="login-form-button-icon" svgIcon="github" aria-hidden="false" aria-label="GitHub"></mat-icon>
    Log in with GitHub
  </button>

  <button class="login-form-button facebook-button" mat-button mat-raised-button (click)="facebook()">
    <mat-icon class="login-form-button-icon" svgIcon="facebook" aria-hidden="false" aria-label="Facebook"></mat-icon>
    Log in with Facebook
  </button>

  <div fxLayout="row" fxFlexFill>
    <div fxFlex="50" class="forgot-password-text">
      <a mat-button routerLink=".">Forgot password</a>
    </div>
    <div fxFlex="50" class="new-user-text">
      <a mat-button routerLink="/sign-up">Create account</a>
    </div>
  </div>

</div>
