:host {
  display: block;
}

.toolbar-row {
  max-width: 1008px;
  margin: auto;
}

.logo {
  height: 100%;
}

.branding-wrapper {
  text-decoration: none;
  color: inherit;
  height: 30px;
  display: flex;
}

.branding {
  margin-left: 30px;
}

.search-container {
  flex: 1 1 auto;
}

.divider {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.toolbar {
  min-height: 50px !important;
}

.toolbar mat-toolbar-row {
  height: 50px !important;
}

@media only screen and (max-width: 639px) {
  main {
    padding: 0 !important;
  }
}
