<div *ngIf="posts.length" class="main" fxLayout="row" fxLayoutGap="24px">
  <div class="main-left" fxFlex>
    <app-infinite-scroller (end)="onScrollEnd($event)">
      <app-post class="mb-10" *ngFor="let post of posts" [post]="post"></app-post>
    </app-infinite-scroller>
  </div>
  <div class="main-right" fxFlex fxHide.lt-md>
    <app-up-and-coming-communities class="mb-10" [communities]="upAndComingCommunities"></app-up-and-coming-communities>
    <app-trending-communities *ngIf="upAndComingCommunities.length" class="mb-10" [communities]="trendingCommunities"></app-trending-communities>
    <app-overview class="mb-10" title="All">
      The most active posts from all communities. Come here to see new posts rising and be a part of the
      conversation.
    </app-overview>
    <app-trending-posts *ngIf="trendingPosts.length" class="mb-10" [posts]="trendingPosts"></app-trending-posts>
    <app-dev-news class="mb-10"></app-dev-news>
    <app-back-to-top></app-back-to-top>
  </div>
</div>
